/* this is a css file */

body {
  background-color: #aaa;
  font-family: Arial;
  font-size: 13px;
  line-height: 23px;
  text-align: justify;
  color: #000;
  margin: 0;
}
#circle {
  width: 300px;
  height: 300px;
  border-radius: 100px;
  background-color: #fff;
  text-align: center;
  color: #000;
}
