/* this is a css file */

body {
  background-color: #000;
  font-family: Arial;
  font-size: 13px;
  line-height: 23px;
  text-align: justify;
  color: #000;
  margin: 0;
}
#wrap {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 16%;
  padding: 0px;
}
#wrap ul {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color: #212121;
  border: 0px solid #aaa;
  padding: 0px;
}
li.reg {
  display: inline-block;
  background: transparent;
  box-sizing: border-box;
  cursor: default;
  padding-top: 120px;
  margin-left: 0px;
  margin-right: 0px;
  width: 13%;
  height: 270px;
  color: #fff;
  border: 1px solid #fff;
}
li.cent {
  display: inline-block;
  background-color: #fefefe;
  box-sizing: border-box;
  cursor: default;
  border-radius: 50%;
  padding-top: 120px;
  margin-left: 0px;
  margin-right: 0px;
  width: 19%;
  height: 270px;
  border: 0px solid #fff;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 1px;
}

.pulse2 {
	-webkit-animation: pulse2 1s linear infinite;
	-moz-animation: pulse2 1s linear infinite;
	-ms-animation: pulse2 1s linear infinite;
	animation: pulse2 1s linear infinite;
}

@keyframes "pulse2" {
 0% {
    -webkit-transform: scale(1.1);
   	-moz-transform: scale(1.1);
   	-o-transform: scale(1.1);
   	-ms-transform: scale(1.1);
   	transform: scale(1.1);
 }
 50% {
    -webkit-transform: scale(0.8);
   	-moz-transform: scale(0.8);
   	-o-transform: scale(0.8);
   	-ms-transform: scale(0.8);
   	transform: scale(0.8);
 }
 100% {
    -webkit-transform: scale(1);
   	-moz-transform: scale(1);
   	-o-transform: scale(1);
   	-ms-transform: scale(1);
   	transform: scale(1);
 }

}

@-moz-keyframes pulse2 {
 0% {
   -moz-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -moz-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -moz-transform: scale(1);
   transform: scale(1);
 }

}

@-webkit-keyframes "pulse2" {
 0% {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }

}

@-ms-keyframes "pulse2" {
 0% {
   -ms-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -ms-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -ms-transform: scale(1);
   transform: scale(1);
 }

}
