/* this is a css file */

body {
  background-color: #212121;
  font-family: Arial;
  font-size: 13px;
  line-height: 23px;
  text-align: justify;
  color: #000;
  margin: 0;
}
#circle {
  width: 220px;
  height: 220px;
  margin: 0 auto;
  margin-top: 15%;
  box-sizing: border-box;
  padding: 50px;
  border-radius: 150px;
  background-color: #fff;
  text-align: center;
  color: #000;
}
